* {
	margin: 0;
	padding: 0;
}

main {
	width: 100%;
	height: calc(100vh - 50px);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #303030;
}

.login-div {
	width: 75%;
	height: 50vh;
	max-width: 400px;
	min-width: 150px;
	background-color: #606060;
	border-radius: 10px;
	box-shadow: 10px 10px #101010;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	color: #fff;
	text-shadow: 2px 2px #101010;
}

.sub_title {
	color: #f1f1f1;
	margin: 5px;
	font-size: 12px;
	text-align: center;
}

.login-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 75%;
}

input {
	box-shadow: 2px 2px #101010;
	margin-top: 10px;
	width: 100%;
}

label {
	margin-top: 10px;
	font-weight: 700;
	color: #fff;
	text-shadow: 1px 1px #000;
}

.submit {
	border-radius: 5px;
	padding: px;
	width: 60px;
	background-color: #656565;
	border: none;
	outline: 0;
	margin-left: auto;
	align-self: right;
	color: #fff;
	font-weight: 700;
}

.footer {
	display: flex;
	width: 100%;
	height: 50px;
	background-color: #202020;
	color: #fff;
	text-align: center;
	justify-content: center;
	align-items: center;
}